{% extends "base.html" %}

{% block head %}
<title> {{ info['username'] }}'s Profile </title>
{% endblock %}

{% block body %}
<form method="POST" action="/editprofile">
    <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
            Name: <input type="text" id="name" class="form-control" name="name" placeholder="Name" value="{{ info['name'] }}" required>
            <p>Username: {{ info ['username'] }}</p>
            <p>DOB : {{ info['dob'] }} </p>
            About Me: <br>
            <textarea class="form-control" name="aboutme" placeholder="About me">{{ info['aboutme'] }}</textarea>
            <br>
            <input class="btn btn-primary" type="submit" value="Update">
        </div>
    </div>
</form>
{% endblock %}
