{% extends "base.html" %}

<script>
function myFunction()
{
x=document.getElementById("demo") // Find the element
x.style.color="#ff0000"; // Change the style
}
</script>

{% block head %}
<title>Feed</title>
{% endblock %}

{% block body %}
<h3>Stories:</h3>
{%- for story in stories %}
<div class="panel panel-default">
    <div class="panel-heading story-title">{{ story["title"] }}</div>
    <div class="panel-body">
        {% set last_update = story["updates"][-1] %}
        <p class="story-text">{{ last_update["content"] }}</p>
        <p><i>Last updated by {{ last_update["author"] }} on {{ last_update["timestamp"] }}</i></p>
        <form  class="horizontal-form" action="/" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea class="form-control" name="content" maxlength="150" required></textarea>
                        <input type="hidden" name="story_id" value="{{ story['story_id'] }}">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{%- endfor %}
{% endblock %}
