{% extends "base.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="container">
    <!-- Render stories -->
    {% if username %}
    <h3>Stories you've contributed to:</h3>
    {% for story in stories %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ story["title"] }}</div>
        <div class="panel-body">
            Last updated by {{ story["author"] }} at {{ story["timestamp"] }}.<br>
            {{ story["contents"] }}<br>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
