{% extends "base.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="container">
    <p>
      {{ message }}
      <a href="/register"> {{ add_mess }} </a>
    </p>
 
    <h1>Log in here</h1>
    <form method="POST" action="/login">
        <div class="row">
            <div class="col-md-6">
                <p>Username: <input class="form-control" type="text" name="username" required></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Password: <input class="form-control" type="password" name="pass" required></p>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
</div>
{% endblock %}
