{% extends "base.html" %}

{% block head %}
<title> {{ info['username'] }}'s Profile </title>
{% endblock %}

{% block body %}
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Information:</div>
        <div class="panel-body">
            Name: {{ info["name"] }}<br>
            Username: {{ info["username"] }}<br>
            DOB : {{ info["dob"] }}<br>
            About Me: <br>
            {{ info["aboutme"] }}<br>
            {% if me %}
            <a href='/editprofile'>Edit profile</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-md-8">
    <h3>Stories contributed to:</h3>
    {% if me %}
    {% for story in stories %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ story["title"] }}</div>
        <div class="panel-body">
            {% for update in story["updates"] %}
            {{ update["content"] }} - <small><i><a href="/profile/{{ update["author"] }}">{{ update["author"] }}</a> on {{ update["timestamp"] }}</i></small><br>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            {%- for story in stories %}
            {{ story['title'] }} <br>
            {%- endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
