{% extends "base.html" %}

{% block head %}
<title> {{ info['username'] }}'s Profile </title>
{% endblock %}

{% block body %}
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading"><b>Profile</b></div>
        <div class="panel-body">
            <b>Name:</b> {{ info["name"] }}<br>
            <b>Username:</b> {{ info["username"] }}<br>
            <b>Birthday:</b> {{ info["dob"] }}<br>
            <b>About Me:</b> <br>
            {{ info["aboutme"] }}<br>
            {% if me %}
	    <br>
            <a href='/editprofile'>Edit profile</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-md-8">
    <h3>Stories contributed to:</h3>
    {% if me %}
    {% for story in stories %}
    <div class="panel panel-default">
        <div class="panel-heading story-title">{{ story["title"] }}</div>
        <div class="panel-body">
          {% for update in story["updates"] %}
	   <p class="story-text">
            {{ update["content"] }} <br>
	  </p>
	    - <small><i><a href="/profile/{{ update["author"] }}">{{ update["author"] }}</a> on {{ update["timestamp"] }}</i></small><br><br>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="panel panel-default story-text">
      <div class="panel-body story-text">
            {%- for story in stories %}
          <p class="story-text"  {{ story['title'] }} </p><br>
           {%- endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
